.imgLogo {
<<<<<<< HEAD
    position: absolute;
=======
    position: fixed;
>>>>>>> 365bb5a09ebf51fdd2fea4b05584506a8627adc2
    left: 50%;
    max-width: 600px;
    margin-left: -300px;
  }

  .row {
      padding: 60px;
<<<<<<< HEAD
      
     
    }
=======
  }
>>>>>>> 365bb5a09ebf51fdd2fea4b05584506a8627adc2


.topnav {
    background-color: royalblue;
    overflow: hidden;
<<<<<<< HEAD
    
=======
>>>>>>> 365bb5a09ebf51fdd2fea4b05584506a8627adc2
  }
  
 
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
<<<<<<< HEAD
    font-size: 20px;
=======
    font-size: 17px;
>>>>>>> 365bb5a09ebf51fdd2fea4b05584506a8627adc2
  }
  
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }

<<<<<<< HEAD
  .topnav a.right {
    float: right;
    background-color: grey;
    color: white;
  }

  .topnav a.select.hover:not(.active) {

    background-color: #555;
    color: white;
  }

=======
>>>>>>> 365bb5a09ebf51fdd2fea4b05584506a8627adc2

* {
    box-sizing: border-box;
  }
  
  /* Create three equal columns that floats next to each other */
  .column {
    float: left;
<<<<<<< HEAD
    width: 20%;
    padding: 10px;
    padding-top: 100px;
    text-align: center;
    
  }
  
  /* Create three equal columns that floats next to each other */
  .middle {
    float: left;
    width: 60%;
    padding: 10px;
    padding-top: 100px;
    text-align: center;
    
  }

=======
    width: 33.33%;
    padding: 10px;
    padding-top: 100px;
  }
  
>>>>>>> 365bb5a09ebf51fdd2fea4b05584506a8627adc2
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

<<<<<<< HEAD
  .topnav #logout {
     
     
  }

=======
>>>>>>> 365bb5a09ebf51fdd2fea4b05584506a8627adc2
  